extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot your password
            form#forgot_password_form.form
                .form__group
                    label.form__label(for='email') Please enter the email below to reset your password.
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button#send.btn.btn--green Send
            .space
            h3.info__text Reset Token will be sent on your registered email.


    