doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        title Natours | #{title}
    body 
        main.main
            .login-form
                h2.heading-secondary.ma-bt-lg Verify OTP
                p#verify_otp_text.card__text Please enter the OTP sent to your registered email address.
                form#otp_form.form
                    .form__group.ma-bt-md
                        label.form__label(for='text') OTP
                        input#otp.form__input(type='text', placeholder='OTP', required)
                        a#Resend_OTP.resend__otp(href="#") resend OTP
                    .form__group
                        button#verify.btn.btn--green Verify
        script(src="/js/bundle.js") 