doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        title Natours | #{title}
    body 
        main.main
            .login-form
                h2.heading-secondary.ma-bt-lg Reset your password
                form#reset_password_form.form
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group.ma-bt-md
                        label.form__label(for='password') Confirm Password
                        input#confirm_password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group
                        button#reset_btn.btn.btn--green Reset
        script(src="/js/bundle.js")     
        